.about {
  height: 100vh; // Full viewport height
  overflow-y: auto; // Enable vertical scrolling
  padding: 20px;
  background-color: #f4f4f9; // Light background color for contrast

  .hero,
  .bible-verse,
  .mission-statement,
  .contributors {
    background-color: #ffffff; // White background for cards
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  }

  .hero {
    h1 {
      font-size: 2.5rem; // Larger font size for hero section
      margin-bottom: 15px;
      color: #333333; // Dark grey color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
    p {
      font-size: 1.25rem;
      color: #555555; // Medium grey color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
  }

  .bible-verse {
    background-color: #e7f4ea; // Light green background
    span {
      font-size: 1.5rem;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      color: #2a9d8f; // Dark green color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
    p {
      font-size: 1.2rem;
      color: #555555; // Medium grey color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
  }

  .mission-statement {
    background-color: #fff6e5; // Light orange background
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #f4a261; // Orange color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
    p {
      font-size: 1.2rem;
      color: #555555; // Medium grey color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
  }

  .contributors {
    background-color: #e1f5fe; // Light blue background
    h3 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: #0077b6; // Blue color for text
      font-family: "Roboto", sans-serif; // Modern font
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .profile-pic {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 15px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        div {
          font-size: 1.2rem;
          color: #333333;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }
}
